@media only screen and (max-width: 82rem) {
	#red-back-number {
		height: 20rem !important;
		margin: 0 5rem !important;
	}
	#coverbackground {
		margin-top: -13rem !important;
	}
	#number {
		margin-top: -3rem !important;
		margin-bottom: 5rem !important;
	}
	#experience>.outer-container>h4 {
	    width: 75% !important;
	}
	#experience>.outer-container>h6 {
	    width: 75% !important;
	}
	#number-container {
		width: 85% !important;
	}
}

@media only screen and (max-width: 72.8125rem) {
	#red-back-number {
		height: 16rem !important;
	}
	#coverbackground {
		margin-top: -16rem !important;
		/* height:  */
	}
	#number>p {
		font-size: 0.8rem !important;
	}
	#number>h4 {
		font-size: 1.1rem !important;
	}
}

@media only screen and (max-width: 67.8125rem) {
	#coverbackground {
		margin-top: -16rem !important;
	}
	#experience>.outer-container>h4 {
	    width: 85% !important;
	    font-size: 1.3rem !important;
	}
	#experience>.outer-container>h6 {
	    width: 85% !important;
	    font-size: 1rem !important;
	}
	#experience {
		object-fit: fill !important;
		background-size: 120% !important;
		height:100% !important;
		background-position: right top !important;
		margin-bottom: 2rem !important;
	}
}

@media only screen and (max-width: 53.125rem) {
	#experience {
		background-size: 140% !important;
	}
	#coverbackground {
	    margin-top: -20rem !important;
	}
}

@media only screen and (max-width: 48rem) {
	#experience {
		/*height: 1% !important;*/
		background-size: 170% !important;
	}
	#experience>.outer-container>h1 {
	    font-size: 2rem !important;
	    margin: 2rem 0 !important;
	}
	#experience>.outer-container>h4 {
	    font-size: 1.2rem !important;
	}
	#experience>.outer-container>h6 {
	    font-size: 1rem !important;
	    margin-bottom: 3rem !important;
	}
	#number {
	    font-size: 2rem !important;
	    margin-top: -1.5rem !important;
	}
	#number-container {
	    width: 100% !important;
	}
	#number>h4 {
	    font-size: 1.1rem !important;
	    margin: 0.5rem 0 !important;
	}
	#number>p {
		text-align: center !important;
	}
	#red-back-number {
	    width: auto !important;
	    top: 3.3rem !important;
	    margin: 0 !important;
	    position: relative;
	    height: 16rem !important;
	    background-repeat: no-repeat !important;
	}
	.garisbawah {
	    margin: 1rem auto !important;
	}
	#text-number2 {
	    padding-left: 0 !important;
	}
	#coverbackground {
		margin-top: -16rem !important;
	}
}

@media only screen and (max-width: 37.5rem) {
	#experience {
		background-size: auto !important;
	}
	#experience>.outer-container {
		padding-top: 0.5rem !important;
	}
	#experience>.outer-container>h1 {
	    font-size: 2rem !important;
	    margin-top: 0.5rem !important;
	}
	#experience>.outer-container>h4 {
	    font-size: 1rem !important;
	    width: 100% !important;
	}
	#experience>.outer-container>h6 {
	    font-size: 0.8rem !important;
	    width: 100% !important
	}
	#red-back-number {
	    height: 33.5rem !important;
	}
	#coverbackground {
		height: 10rem !important;
	}
}

#number {
    margin: 0.7rem;
    font-size: 4.2rem;
    font-weight: bold;
    font-family: Gotham;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -3.125rem;
	padding: 0 1rem;
}

#number-container {
    width: 70%;
    margin: auto;
}

#number>p {
	font-size: 0.8rem;
	text-align: left;
	font-weight: normal;
	width: 90%;
	margin: 0 auto;
}

#number>h4 {
	font-size: 1.6rem;
	font-weight: bold;
}

#text-number2 {
	padding-left: 1rem;
}

#red-back-number {
	background-color: #ff3f40;
	background: linear-gradient(rgba(255,0,0,1), rgba(255,0,0,0));
	width: auto;
	height: 20rem;
	position: static;
	margin: 0 5rem;
}

#coverbackground {
	background-color: white;
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
	width: 100%;
	height: 9rem;
	position: static;
	margin: 0;
	margin-top: -10rem;
	padding: 0 !important;
}

#experience {
	background-image: url(../img/hero/experience.png);
	background-repeat: no-repeat;
    padding-bottom: 0;
    background-size: 100%;
    object-fit: cover;
    height: 100%;
}

#experience>.outer-container {
    margin-bottom: 4rem;
}

#experience>.outer-container>h4 {
    color: #ff3f40;
    width: 58%;
    margin: auto;
    font-size: 1.875rem;
}

#experience>.outer-container>h6 {
    width: 58%;
    margin: 3rem auto;
    margin-bottom: 6rem;
    font-size: 1.25rem;
}

#experience>.outer-container>h1 {
	font-size: 3.125rem;
	font-weight: bold;
	margin-bottom: 2.6rem;
	margin-top: 3rem;
	font-family: Gotham;
}

.garisbawah {
    display: block;
    border: 0;
    border-top: 0.5rem solid #000;
    width: 3rem;
    margin: 2rem auto;
}