#footer {
	background-color: #444444 !important;
	color: #fff;
}

#icon-social {
	padding: 0 1rem;
}

#social-link>a {
	text-decoration: none;
}

.btn-up {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

/* Darker background on mouse-over */
.btn-up:hover {
    background-color: #fff;
    color: #f44336;
}