@font-face {
    font-family: 'Gotham-Book';
    src: url('./font');
    /* IE9 Compat Modes */
    src: url('./font/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/Gotham-Book.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./font/Gotham-Book.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('./font/Gotham-Book.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./font/Gotham-Book.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

#con1 {
    font-family: 'Gotham-Book', Fallback, sans-serif;
    font-size: 1.2rem;
    border-color: #000;
    border-bottom: 0.01rem;
    border-bottom-style: solid;
    text-transform: uppercase;
    font-weight: bold;
}

#con2 {
    font-size: 1.2rem;
    line-height: 0.8rem;
    font-weight: bold;
}

.header-container {
    padding-bottom: 4rem;
    position: relative;
    max-width: 100rem;
    font-family: 'Gotham-Book', Fallback, sans-serif;
}

.header-container:hover .header-hover {
    display: block
}

.header-container:hover span.header-hover {
    display: inline-block
}

.header-hover {
    display: none
}

.header-image {
    max-width: 100%;
    min-width: 66.7rem;
    min-height: 53rem;
    width: 100rem;
}

.header-inner-container {
    margin: 1rem;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {
        left: -4rem;
        top: 0rem;
    }
    25% {
        left: 0rem;
        top: 0rem;
    }
}

/* Standard syntax */
@keyframes example {
    0% {
        left: -4rem;
        top: 0rem;
    }
    25% {
        left: 0rem;
        top: 0rem;
    }
}

.header-inner-container>p {
    color: #fff;
    font-family: 'Gotham-Book', Fallback, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 2rem;
    letter-spacing: -0.2rem;
}

.inner2-container {
    color: #fff;
    width: auto;
    text-align: center;
}

.header-inner-container:after,
.header-inner-container:before,
.inner2-container:after,
.inner2-container:before {
    content: "";
    display: table;
    clear: both;
}

.navigation-bar {
    overflow: hidden;
    background: transparent;
    position: absolute;
    z-index: 990;
    padding: 4rem;
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
    width: 100%;
    height: 10rem;
    font-family: 'Gotham-Book', Fallback, sans-serif;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    content: "";
    display: table;
    clear: both;
}

.navigation-bar-post {
    overflow: hidden;
    background: transparent;
    position: absolute;
    z-index: 980;
    padding: 4rem;
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    width: 100%;
    height: auto;
    font-family: 'Gotham-Book', Fallback, sans-serif;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    content: "";
    display: table;
    clear: both;
    position: fixed;
    background-color: #2f2f2f;
}

.menu-bar {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-weight: bold;
}

.w3-logo {
    font-size: 1.3rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    width: auto;
    border: none;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    z-index: 999;
}

.w3-logo:hover {
    color: #000!important;
    background-color: #ccc!important
}

.navigation-bar .w3-dropdown-hover,
.navigation-bar .w3-dropdown-click, .navigation-bar-post .w3-dropdown-hover,
.navigation-bar-post .w3-dropdown-click {
    position: static;
    float: left
}

.navigation-bar .w3-button, .navigation-bar-post .w3-button {
    white-space: normal
}

.navigation-bar-block .navigation-bar-item {
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.navigation-bar-block.w3-center .navigation-bar-item {
    text-align: center
}

.navigation-bar-block .w3-dropdown-hover,
.navigation-bar-block .w3-dropdown-click {
    width: 100%;
}

.navigation-bar-block .w3-dropdown-hover .w3-dropdown-content,
.navigation-bar-block .w3-dropdown-click .w3-dropdown-content {
    min-width: 100%
}

.navigation-bar-block .w3-dropdown-hover .w3-button,
.navigation-bar-block .w3-dropdown-click .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

#navsmall {
    z-index: 998 !important;
    position: fixed;
    width: 50%;
}

#bawahnyanavbar {
    margin-top: 7rem;
}