#intouch {
	background-color: #efefef;
	padding-bottom: 2rem;
}

#intouch>h1 {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

#text-intouch {
	font-size: 0.9rem;
	line-height: 1.3rem;
}

#img-intouch>img {
	width: 4rem;
}

#button-source {
	font-size: 1.25rem;
	padding: 1rem 2rem;
	line-height: 1rem;
}

.container-intouch {
    padding: 3rem 1rem !important;
    margin: 0 4rem !important;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #ff3f40;
    align-content: center;
}

#chat, #messages, #location {
	padding: 0 2rem;
	vertical-align: center;
}

#chat>.w3-half>img {
	background-color: #ff3f40;
	padding: 0.5rem;
}

#messages>.w3-half>img {
	background-color: #ff3f40;
	padding: 0.5rem;
}

#location>.w3-half>img {
	background-color: #ff3f40;
	padding: 0.5rem;
}