#intouch {
	background-color: #efefef;
	padding-bottom: 2rem;
}

.container-intouch {
    padding: 3rem 1rem !important;
    margin: 0 4rem !important;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #ff3f40;
    align-content: center;
}

#chat, #messages, #location {
	padding: 0 2rem;
	vertical-align: center;
}

#chat>.w3-half>img {
	background-color: #ff3f40;
	padding: 0.5rem;
}

#messages>.w3-half>img {
	background-color: #ff3f40;
	padding: 0.5rem;
}

#location>.w3-half>img {
	background-color: #ff3f40;
	padding: 0.5rem;
}