#news {
	background-color: #51c3e4;
	padding-bottom: 4rem;
}

#news>h1 {
	color: #000;
}

#text-news>h3 {
	text-transform: uppercase;
	text-align: left;
}

#text-news>p {
	text-align: left;
}

.padding-news-card {
	padding-left: 2rem;
	padding-right: 2rem;
}