@media only screen and (max-width: 72.8125rem) {
    #text-news>h3 {
        font-size: 1.2rem !important;
    }
}

@media only screen and (max-width: 48rem) {
    #news>h1 {
        font-size: 2rem !important;
        margin: 2rem 0 !important;
    }
}

#news {
	background-color: #51c3e4;
	padding-bottom: 4rem;
}

#news>h1 {
	color: #000;
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    font-size: 3rem;
    font-family: 'Gotham', sans-serif;
}

.slider-container {
    height: auto;
    width: auto;
}

#sebelum, #sesudah {
    color: #ffffff;
    z-index: 999;
    padding: 1.2rem;
}

#text-news {
    padding: 1rem 1.5rem;
    height: 15rem;
    /* padding-top: 0.5rem;
    height: 13rem !important; */
}

.image-news {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

#text-news>h3 {
    font-family: 'Gotham', sans-serif;
    text-transform: uppercase;
	text-align: left;
    font-size: 1.2rem;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.news-date {
    font-size: 0.5rem;
    color: grey;
}

#text-news>p {
	text-align: left;
    font-size: 0.8rem;
    margin-top: 1rem !important;
}

.padding-news-card {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-news-card>img {
    width: 100%;
    max-width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /* height: 15rem; */
}