@media only screen and (max-width: 768px) {
    #partner>h1 {
        font-size: 2rem !important;
        margin: 2rem 0 !important;
    }
    #partner-img-kiri>img {
		float: none !important;
	}

	#partner-img-kanan>img {
		float: none !important;
	}
}

#partner>h1 {
	font-size: 2.1875rem;
	font-weight: bold;
	margin-top: 1.9375rem;
	margin-bottom: 1.03125rem;
}

#partner-img {
	padding: 0.01rem 3rem;
}

#partner-img>img {
	width: 8rem;
	height: 4rem;
}

#partner-img-kiri>img {
	width: 8rem;
	height: 4rem;
	float: right;
}

#partner-img-kanan>img {
	width: 8rem;
	height: 4rem;
	float: left;
}

#partner-container {
	margin-bottom: 2.5625rem;
	padding: 0.75rem 1.5rem;
}