#programs {
	background-color: #51c3e4;
	padding-bottom: 7rem;
}

#programs>h1 {
	color: #fff;
	font-size: 3.125rem;
	margin-bottom: 1.5rem !important;
	font-family: "Gotham";
}

@media only screen and (max-width: 71rem) {
	#text-card>h3 {
	    font-size: 1.2rem !important;
	}
}


@media only screen and (max-width: 48rem) {
	.image-content-programs {
		width: 100% !important;
	}
	.inner-programs {
		width: 100% !important;
	}
	.img-cover {
		width: 100% !important;
		height: auto !important;
	}
	.inner-programs {
		padding: 1.5rem 1.5rem !important;
	}
	#programs>h1 {
		font-size: 3.125rem;
	}
	#text-card>h3 {
	    font-size: 1.6rem !important;
	}
}

@media only screen and (max-width: 35.625rem) {
	.inner-programs>h1 {
		font-size: 1rem !important;
	}
}

@media only screen and (max-width: 31.25rem) {
    #programs>h1 {
	    font-size: 2rem;
	}
	.padding-program-card {
		padding: 0 !important;
	}
	#padding-image {
	    padding: 0.75rem 0 !important;
	}
	.exe-container {
		margin: 0rem !important;
	}
	.inner-programs {
		padding: 1.5rem 1rem !important;
	}
}

@media only screen and (max-width: 21.5625rem) {
    #text-card>h3 {
	    font-size: 1.2rem !important;
	}
	#text-card {
	    padding: 1rem !important;
	}
	#programExecutive, #programStudent, #programIntermediate {
		font-size: 0.8rem !important;
	}
}

#image-card-programs {
    max-width: 100%;
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

#padding-image {
	padding: 0.75rem 1.5rem;
}

.padding-program-card {
	padding: 0 2rem;
}

#text-card {
	padding: 1rem 2rem 2rem 2rem;
}

#text-card>h3 {
	font-family: 'Gotham', sans-serif;
	font-size: 1.6rem;
	text-transform: uppercase;
}

#text-card>p {
	font-size: 0.8rem;
	font-weight: normal;
	margin: 0;
	/* letter-spacing: 0.06rem; */
}

#programExecutive, #programStudent, #programIntermediate {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

#contentExecutive, #contentStudent, #contentIntermediate {
	display: none;
	background-color: #51c3e4;
	padding-bottom: 4rem;
}

.training-container, .exe-container {
	margin: 0rem 4rem;
	background-color: white;
	padding: 0rem !important;
}

.image-content-programs {
	background: 100% 100%;
	width: 100%;
	height: 12rem;
	object-fit: cover;
}

.image-content-programs {
	padding: 0rem !important;
}


.inner-programs {
	padding: 3rem 3rem !important;
}

.inner-programs>p {
	font-size: 0.8rem;
	line-height: 1.6rem;
}

.inner-programs>ol {
	font-size: 0.8rem;
	line-height: 1.6rem;
}

.inner-programs>ul {
	font-size: 0.8rem;
	line-height: 1.6rem;
}

.inner-programs>p>a {
	color: #f44336!important;
}