@media only screen and (max-width: 72.8125rem) {
	#inner-training>h1 {
		font-size: 2rem !important;
	}
	#image-training>img {
		margin: 0 !important;
	}
	#image-training {
		width: 50% !important;
		text-align: center !important;
		margin: 0 auto !important;
		float: left !important;
	}
	#inner-training {
		float: right !important;
		width: 50% !important;
		margin: 0 auto !important;
		padding-left: 4rem !important;
	}
	#image-training>img {
		margin: 0 !important;
		float: none !important;
	}
	#training-container {
	    padding: 0 4rem !important;
	}
}

@media only screen and (max-width: 61rem) {
	#image-training {
		width: 100% !important;
		text-align: center !important;
		margin: 0 auto !important;
	}
	#image-training>img {
		float: none !important;
	}
	#inner-training {
		float: none !important;
		width: 100% !important;
		padding: 0 !important;
		text-align: center !important;
	}
	#inner-training>h1 {
		width: 100% !important;
	}
	#inner-training>h6 {
		width: 100% !important;
		padding: 0 4rem !important;
	}
}

@media only screen and (max-width: 40.625rem) {
	#inner-training>h6 {
		width: 100% !important;
		padding: 0 !important;
	}
	#training-container {
	    /*padding-right: 4rem !important;*/
	    padding: 0 !important;
	}
}

@media only screen and (max-width: 33.25rem) {
	#image-training>img {
		height: auto !important;
		width: 100% !important;
	}
}

#padding-training {
    padding-left: 4rem !important;
    text-align: left;
}

#padding-training>h1 {
	font-size: 2rem;
}

#image-training>img {
	height: 25rem;
	width: auto;
	float: right;
	margin-right: 4rem;
}

#training-container {
	padding-right: 10rem;
	padding-left: 10rem;
	padding-top: 2rem;
}

#inner-training>h1 {
	font-size: 3.125rem;
	font-weight: bold;
	font-family: Gotham;
	width: 50%;
	line-height: 3.5rem;
}

#inner-training>h6 {
	font-size: 1rem;
	font-family: Gotham;
	width: 80%;
	/* line-height: 1.5rem; */
}