#padding-training {
    padding-left: 4rem !important;
    text-align: left;
}

#padding-training>h1 {
	font-size: 2rem;
}

#image-training>img {
	height: 25rem;
	width: auto;
	float: right;
	margin-right: 4rem;
}

#training-container {
	padding-right: 10rem;
	padding-left: 10rem;
	padding-top: 2rem;
}

#inner-training>h1 {
	font-size: 3.7rem;
	font-weight: bold;
	font-family: Gotham;
}

#inner-training>h6 {
	font-size: 1.25rem;
	font-family: Gotham;
}